@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38 64% 100%;
    --foreground: 240 10% 3.92%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --popover: 38 64% 100%;
    --popover-foreground: 240 10% 3.92%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --border: 240 5.9% 89.8%;
    --input: 240 7.69% 89.8%;
    --primary: 228.85 100% 50.39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 313.13 33.33% 18.82%;
    --secondary-foreground: 0 0% 100%;
    --accent: 68 93% 53%;
    --accent-foreground: 68 93% 13%;
    --destructive: 0 90.6% 45.88%;
    --destructive-foreground: 0 0% 100%;
    --ring: 228.85 100% 50.39%;
    --chart-1: 228.85 100% 50.39%;
    --chart-2: 313.13 33.33% 18.82%;
    --chart-3: 68 93% 53%;
    --chart-4: 313.13 33.33% 21.82%;
    --chart-5: 228.85 103% 50.39%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 9.41%;
    --foreground: 0 0% 58.82%;
    --muted: 8 20% 15%;
    --muted-foreground: 8 15% 70%;
    --popover: 0 0% 9.41%;
    --popover-foreground: 0 0% 94.9%;
    --card: 0 0% 10.98%;
    --card-foreground: 0 0% 94.9%;
    --border: 0 0% 16.86%;
    --input: 38 6% 11%;
    --primary: 38 93% 53%;
    --primary-foreground: 38 93% 13%;
    --secondary: 8 93% 53%;
    --secondary-foreground: 0 0% 100%;
    --accent: 68 93% 53%;
    --accent-foreground: 68 93% 13%;
    --destructive: 21 99% 53%;
    --destructive-foreground: 0 0% 0%;
    --ring: 38 93% 53%;
    --chart-1: 38 93% 53%;
    --chart-2: 8 93% 53%;
    --chart-3: 68 93% 53%;
    --chart-4: 8 93% 56%;
    --chart-5: 38 96% 53%;
  }
}


@layer base {
  .indicator {
    @apply relative inline-flex max-w-max;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-visible {
    -ms-overflow-style: auto;
    scrollbar-width: auto;
  }

  .shimmer-wrapper-dark {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }
  .shimmer-wrapper-dark-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0%,
      hsl(var(--primary)) 50%,
      rgba(255, 255, 255, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  .shimmer-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      rgba(100, 80, 80, 0.1) 50%,
      rgba(245, 245, 245, 0) 100%
    );

    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
  }

  .shimmer-wrapper-primary {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(
      to right,
      rgba(245, 245, 245, 0) 0%,
      hsla(var(--primary)) 50%,
      rgba(245, 245, 245, 0) 100%
    );
    animation: shimmer 5s infinite linear;
    background-repeat: no-repeat;
    background-size: 200% 100%;
    opacity: 0.2;
  }

  @keyframes shimmer {
    0% {
      background-position: -250%;
    }
    100% {
      background-position: 250%;
    }
  }

  .shimmer-animation {
    @apply shimmer-wrapper dark:shimmer-wrapper-dark;
  }
  .shimmer-animation-primary {
    @apply shimmer-wrapper-primary dark:shimmer-wrapper-dark-primary;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
